doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Product - Free Bulma template
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='../css/bulma.css')
    link(rel='stylesheet', type='text/css', href='../css/product.css')
  body
    nav#top.nav.has-shadow
      .container
        .nav-left
          a.nav-item(href='../index.html')
            img(src='../images/bulma.png', alt='Description')
        span.nav-toggle
          span
          span
          span
        .nav-right.nav-menu
          a.nav-item.is-tab.is-active
            | Home
          a.nav-item.is-tab
            | Features
          a.nav-item.is-tab
            | Team
          a.nav-item.is-tab
            | Help
          span.nav-item
            a.button
              | Log in
            a.button.is-info
              | Sign up
    .section.product-header
      .container
        .columns
          .column
            span.title.is-3 Product Name
            span.title.is-3.has-text-muted  
            span.title.is-4.has-text-muted Category
    .section
      .container
        .columns
          .column.is-6
            .image.is-2by2
              img(src='https://placehold.it/1000x1000')
          .column.is-5.is-offset-1
            .title.is-2 Item Title
            p.title.is-3.has-text-muted $ 39.95
            hr
            br
            p
              i.fa.fa-star.title.is-5(style='color:#ed6c63')
              i.fa.fa-star.title.is-5(style='color:#ed6c63')
              i.fa.fa-star.title.is-5(style='color:#ed6c63')
              i.fa.fa-star.title.is-5
              i.fa.fa-star.title.is-5
              strong 41 Reviews
              a(href='#') show all
            br
            p
              | Suspendisse sodales metus justo, ullamcorper iaculis purus interdum in. Sed ultricies enim felis, in interdum urna malesuada a. Morbi id ligula vel leo elementum dignissim quis vel purus. Donec iaculis, est ac maximus vestibulum, sapien mi lacinia urna, at laoreet felis lectus nec urna. Fusce egestas, neque vitae blandit scelerisque, leo arcu pellentesque risus, et volutpat neque nunc id massa. Aenean dapibus leo vel purus malesuada, eu ultrices nulla consequat. Duis erat orci, lobortis sed dictum id, pretium a nibh. Mauris pharetra ligula consequat gravida ornare.
            br
            br
            p
              a(href='#')
                i.fa.fa-minus.cart-icon
              input.input.has-text-centered(type='text', name='', value='1', style='width:40px;')
              a(href='#')
                i.fa.fa-plus.cart-icon
              a.button.is-primary Add to cart
            br
            table.table
              tbody
                tr
                  td.has-text-right
                    strong Item ID
                  td 1234
                tr
                  td.has-text-right
                    strong Seller
                  td jsmith
                tr
                  td.has-text-right
                    strong Added
                  td 3 days ago
                tr
                  td.has-text-right
                    strong Views
                  td 3
    .section
      .container
        .tabs
          ul
            li.is-active
              a Overview
            li
              a Details
            li
              a Reviews
            li
              a Shipping Calculator
        .box
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ligula magna, tempus sed nisi in, convallis porttitor quam. Quisque auctor nisl metus, quis rhoncus mi molestie non. Phasellus ornare nisi et lobortis lacinia. Mauris quis dolor vulputate, malesuada lacus at, gravida ipsum. Nam a viverra mi. Aenean at consequat libero, in porta diam. In id ipsum nec purus mattis blandit quis sed nisi. Suspendisse nulla tellus, viverra eu urna ut, mollis pulvinar sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin non magna sagittis, facilisis augue sed, ultricies felis. Mauris at neque sed nisl mollis aliquet. Etiam lacinia auctor dolor, sed condimentum odio efficitur a.
          br
          p
            | Sed at risus enim. Nunc aliquet tellus a purus blandit lobortis. Duis condimentum sapien sed orci ornare mollis. Praesent eleifend ante magna, quis commodo risus pellentesque in. Donec eget porta leo. Sed vel dictum est. Ut dui lorem, volutpat vel risus in, dictum euismod ex. Aenean laoreet dapibus nulla, nec viverra massa feugiat vitae. Vestibulum elementum nec nisi dictum rhoncus. Nam placerat mi eu tortor tincidunt commodo. Duis posuere, sapien a laoreet dapibus, elit tortor laoreet est, eget dapibus dui justo vitae ipsum. Praesent sed augue nec leo hendrerit iaculis sit amet efficitur ante. Nunc ac maximus mauris. Sed luctus erat id elit tempor, a aliquam lacus sodales.
          br
          p
            | Suspendisse sodales metus justo, ullamcorper iaculis purus interdum in. Sed ultricies enim felis, in interdum urna malesuada a. Morbi id ligula vel leo elementum dignissim quis vel purus. Donec iaculis, est ac maximus vestibulum, sapien mi lacinia urna, at laoreet felis lectus nec urna. Fusce egestas, neque vitae blandit scelerisque, leo arcu pellentesque risus, et volutpat neque nunc id massa. Aenean dapibus leo vel purus malesuada, eu ultrices nulla consequat. Duis erat orci, lobortis sed dictum id, pretium a nibh. Mauris pharetra ligula consequat gravida ornare.
          br
          p
            | Sed a gravida sapien. Nam malesuada feugiat nunc, eu varius risus suscipit non. Nulla vitae odio fermentum, varius ligula et, iaculis enim. Mauris tempor in dolor non aliquet. Pellentesque ac mauris a augue tempus pharetra. Nulla facilisi. Vivamus sit amet lacus sagittis, ullamcorper nisi sit amet, consequat eros. Sed faucibus nulla vitae erat tristique ornare.
          br
          p
            | Nullam sit amet magna ipsum. In tincidunt tincidunt tellus. Duis maximus vulputate elit sit amet auctor. Vestibulum a nunc consectetur, accumsan arcu eu, dapibus est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vitae massa eget nulla gravida porta eu et sem. Sed in lorem id lectus auctor lobortis sed vel libero. Nam dapibus risus eu sodales consectetur. Fusce luctus sollicitudin ante et sodales. Curabitur eget justo turpis. Vestibulum vel nunc tellus. Morbi accumsan urna nibh, at malesuada odio faucibus accumsan.
    footer.footer
      .container
        .content.has-text-centered
          p
            strong Bulma
            |  by 
            a(href='http://jgthms.com') Jeremy Thomas
            | . The source code is licensed
            a(href='http://opensource.org/licenses/mit-license.php') MIT
            | . The website content
            |         is licensed 
            a(href='http://creativecommons.org/licenses/by-nc-sa/4.0/') CC ANS 4.0
            | .
          p
            a.icon(href='https://github.com/jgthms/bulma')
              i.fa.fa-github
    script(async='', type='text/javascript', src='../js/bulma.js')
